.radio-buttons-list-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--pure-white-color);
}

.radio-buttons-list-wrapper ul {
	display: flex;
	column-gap: 1rem;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.radio-buttons-list-wrapper span {
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}
