.main-page-cards-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, 33rem);
	grid-gap: 10px;
	justify-content: center;
	align-content: flex-start;
	margin: 0 auto;
	min-height: 80vh;
	padding: 3rem 1rem;
}

@media screen and (max-width: 1300px) {
	.main-page-cards-wrapper {
		padding: 5rem 0rem;
	}
}

@media screen and (max-width: 1300px) {
	.main-page-cards-wrapper {
		display: flex;
		flex-wrap: wrap;
	}
}
