.main-page-cards-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 3rem 1rem;
	min-height: 80vh;
}

.page-view-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	row-gap: 1rem;
	column-gap: 4rem;
}

.page-view-wrapper-pages {
	text-align: center;
	background-color: var(--pure-white-color);
	padding: 0.5rem;
	font-size: 1.2rem;
	margin: 0.2rem;
	min-width: 3rem;
	cursor: pointer;
	transition: 0.2s all ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.15) 0.15rem 0.15rem 0.15rem;
}

.page-view-wrapper-pages-active {
	pointer-events: none;
	text-align: center;
	padding: 0.5rem;
	font-size: 1.2rem;
	margin: 0.2rem;
	min-width: 3rem;
	cursor: pointer;
	transition: 0.2s all ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.15) 0.15rem 0.15rem 0.15rem;
	background-color: var(--accent-color);
	color: var(--pure-white-color);
}

.page-view-wrapper button {
	border: none;
	color: var(--pure-white-color);
	background-color: var(--accent-color);
	padding: 0.5rem;
	margin: 0.5rem 0.5rem;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 0.15rem 0.15rem 0.15rem;
	transition: 0.2s all ease-in-out;
	border-radius: 0.8rem;
	min-width: 8rem;
	font-size: 1.2rem;
}

.pages-view-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0rem 1rem;
	min-width: 30rem;
}

.page-view-wrapper button:hover {
	background-color: var(--hover-accent-color);
}

.page-view-wrapper button:disabled {
	pointer-events: none;
	background-color: var(--disabled-button-color);
}

.page-view-wrapper-pages:hover {
	background-color: var(--accent-color);
	color: var(--pure-white-color);
}

@media screen and (max-width: 1300px) {
	.main-page-cards-wrapper {
		padding: 5rem 0rem;
	}

	.pages-view-container {
		flex-wrap: wrap;
		min-width: 20rem;
	}

	.page-view-wrapper {
		flex-direction: column;
	}

	.page-view-wrapper button {
		margin: 1rem 1rem;
	}

	.buttons-next-container {
		display: flex;
		flex-direction: row-reverse;
	}
}
