:root {
	--bg-color: rgb(240, 238, 235);
	--pure-white-color: rgb(255, 255, 255);
	--accent-color: rgb(113, 45, 202);
	--hover-accent-color: rgb(92, 37, 163);
	--primary-color: rgb(240, 171, 23);
	--hover-primary-color: rgb(226, 162, 25);
	--disabled-button-color: rgb(204, 210, 211);
	--fonts-primary: 'roboto';
}

body {
	background-color: var(--bg-color);
}

html,
body,
#root {
	min-height: 100vh;
	width: 100vw;
}

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	margin: 0rem;
	padding: 0rem;
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
}
