.footer-wrapper {
	min-height: 10vh;
	background-color: var(--primary-color);
	bottom: 0;
	position: sticky;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-wrapper-button {
	background-color: var(--accent-color);
	color: var(--pure-white-color);
	border: none;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 1rem;
	box-shadow: rgba(0, 0, 0, 0.15) 0.15rem 0.15rem 0.15rem;
	font-family: var(--fonts-primary);
	cursor: pointer;
	transition: 0.2s all ease-in-out;
	border-radius: 3rem;
	margin: 0rem 2rem;
}

.footer-wrapper-button:not(:disabled):hover {
	background-color: var(--hover-accent-color);
}

.footer-wrapper-button:disabled {
	background-color: var(--disabled-button-color);
	pointer-events: none;
}

@media screen and (max-width: 600px) {
	.footer-wrapper-button {
		font-size: 1rem;
	}
}
